<!--build a metroline grid, for the contributors based on the parameters role and active -->
<div class="gridlayout">
{% assign sorted_contributors = include.role | where: "active", include.active | sort_natural: 'firstName' %}
    {% for contributor in sorted_contributors %}
    <div class="gridlayout-cell">
            <div class="author-image">
                {% if contributor.image != "" %}
                    <img src="{{site.baseurl}}/assets/img/contributors/{{ contributor.image }}" alt="{{ contributor.firstName }} {{ contributor.lastName }}" />
                {% else %}
                    <img src="{{site.baseurl}}/assets/img/main_logo_square.svg" alt="{{ contributor.firstName }} {{ contributor.lastName }}" />
                {% endif %}
            </div>
            <div class="author-name">
                {% if contributor.orcid != "" %}
                    <a href="https://orcid.org/{{ contributor.orcid }}" target="_blank">
                        {{ contributor.firstName }} {{ contributor.lastName }}
                    </a>
                {% else %}
                    {{ contributor.firstName }} {{ contributor.lastName }}
                {% endif %}
            </div>
            <span class="author-affiliation">
                {{ contributor.affiliation }}
            </span>
    </div>
    {% endfor %}
</div>