{% include assign_current_module.html %}

<div class="border p-2 rounded">

<ul class="nav nav-tabs" id="courseTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="objectives-tab" data-bs-toggle="tab" data-bs-target="#objectives" type="button" role="tab">
      Learning Objectives
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="delivery-tab" data-bs-toggle="tab" data-bs-target="#delivery" type="button" role="tab">
      Delivery
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="leads-tab" data-bs-toggle="tab" data-bs-target="#leads" type="button" role="tab">
      Course Leads
    </button>
  </li>
</ul>

<div class="tab-content mt-3" id="courseTabsContent">
  <div class="tab-pane fade show active" id="objectives" role="tabpanel">
    <ul>
      {% for objective in current_module.objectives %}
        <li>{{ objective }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="tab-pane fade" id="delivery" role="tabpanel">
    <ul>
    {% for delivery in current_module.delivery %}
        <li>{{ delivery }}</li>
    {% endfor %}
    </ul>
  </div>
  <div class="tab-pane fade" id="leads" role="tabpanel">
    <ul>
    {% for lead in current_module.leads %}
        <li>{{ lead }}</li>
    {% endfor %}
      </ul>
  </div>
</div>
</div>
